.nav-link {
  padding: 0;
}

.image {
  background: url("/assets/pictures/Lakeside-Mountain-Modern-Home-Alexander-Design-Group-01-1-Kindesign.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
}

.layout {
  height: 300px;
}

.moveTop {

  margin-top: -250px;
}

.nav-item {
  width: 100px;
}

.mb {
  border-right: white 2px solid;
}
